body {
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fafafa;
}

/* Add a container to wrap all content for vertical centering */
.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

svg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
}

header {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

button {
    background: #eb94d0;
    background-image: linear-gradient(to bottom, #eb94d0, #2079b0);
    border-radius: 28px;
    box-shadow: 6px 5px 24px #666666;
    font-family: 'Times New Roman', Times, serif;
    color: #fafafa;
    font-size: 16px;
    padding: 19px;
    text-decoration: none;
    margin-top: 5vh; /* Add some space above the button */
}

.text-section {
    width: 80vw; /* Adjust the width as necessary */
    height: 40vh; /* Adjust height as needed */
    font-size: 48px;
    display: flex;
    flex-wrap: wrap; /* If words overflow they wrap to next line */
    margin: 1vh 0; /* Add some vertical space */
}

.word {
    margin: 5px; /* Add some space around each word */
}

#poem-section, #img-section {
    width: 80vw; /* Set a max width for consistency */
    font-size: large;
    margin: 1vh 0; /* Add some vertical space */
    padding-top: 5%;
}

/* Add a max height to the image section and make it scrollable if the content is too tall */
#img-section {
    display: flex; /* Use flexbox to center contents */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    width: 80vw; /* Set a max width for consistency */
    max-height: 50vh; /* Adjust based on your preference */
    margin: 2vh 0; /* Add some vertical space */
}

